.pageLayout {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
}

.imagePreview {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}

.fileSelector {
  max-width: 500px;
}

.fileSelector * {
  cursor: pointer;
}
